# Токен от @BotFather
BOT_TOKEN=123456:PASTE_TOKEN_HERE

# Публичный HTTPS-адрес Mini App.
# Для локального теста через ngrok будет примерно: https://abc123.ngrok-free.app
BASE_URL=https://your-domain.example

# База данных SQLite
DB_PATH=data/dnd_miniapp.sqlite3

# Веб-сервер
HOST=0.0.0.0
PORT=8000

# Для тестирования в браузере без Telegram можно оставить 1.
# На реальном сервере лучше поставить 0.
DEV_MODE=1
